<h1 mat-dialog-title>Register</h1>
<div mat-dialog-content>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" type="text">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="contraseña" type="password">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Imagen</mat-label>
      <input matInput formControlName="imagen" type="text">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Register</button>
  </form>
</div>